<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<title>To-Do App</title>
</head>
<body>
	<div class="container">
	    <nav class="row navbar navbar-inverse">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/" style="color: #00aced">
		            <i class="fas fa-clipboard-list"></i> To-Do App</a>
		        </div>
		        <div id="navbar">
				    <ul class="nav navbar-nav">
				        <li><a href="/">Home</a></li>
				    </ul>
		        </div>
		    </div>
		</nav>
		
	    <h1>To-Do List</h1>
	    
	    <form th:action="@{/new}" method="post" autocomplete="on">
		    <div class="form-group">
			    <label class="form-control-label" for="category">Category</label>
			    <input type="text" th:field="*{task.category}" placeholder="Bills, School, Grocery..." class="form-control" id="category" required/>
		    </div>
		    <div class="form-group">
			    <label class="form-control-label" for="description">Description</label>
			    <input type="text" th:field="*{task.description}" placeholder="Pay Verizon bill..." class="form-control" id="description" required/>
		    </div>
		    <div class="form-group">
			    <label class="form-control-label" for="status">Status</label>
			    <input type="text" th:field="*{task.status}" placeholder="To-Do, In-Progress..." class="form-control" id="status" required/>
		    </div>
	        <button class="btn btn-md btn-success btn-block" name="Submit" value="Submit" type="Submit" th:text="Submit"></button>
	    </form>
	    
	    <div th:if="${successMessage}">
	        <h3><span class="text-success" th:utext="${successMessage}"></span></h3>
	    </div>
	    
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>