<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
    <div class="container">
    	
    	<nav class="row navbar navbar-inverse">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/" style="color: #00aced">
		                <i class="fas fa-clipboard-list"></i> To-Do App</a>
		        </div>
		        <div id="navbar">
				    <ul class="nav navbar-nav">
				        <li><a href="/new">New Task</a></li>
				    </ul>
				    <ul class="nav navbar-nav" style="box-align: right">
				        <li><a href="/api/tasks">Tasks API</a></li>
				    </ul>
		        </div>
		    </div>
		</nav>
    	
        <h2>To-Do List</h2>
        
        <table class="table table-striped">
			<thead>
		    	<tr>
				    <th scope="col">Category</th>
				    <th scope="col">Description</th>
				    <th scope="col">Status</th>
				    <th scope="col">Update</th>
				    <th scope="col">Delete</th>
			    </tr>
			</thead>  
		  	<tbody th:each="task:${taskList}">
			    <tr>
				    <th scope="row" th:text="${task.category}"></th>
				    <td th:text="${task.description}"></td>
				    <td th:text="${task.status}"></td>
				    <td><a class="btn" th:href="@{/update/} + ${task.id}">Edit</a></td>
				    <td>
				    	<form class="" th:object="${task}" th:action="@{/} + ${task.id}" th:method="delete">
							<input class="btn btn-danger" type="submit" value="Delete">
						</form>
					</td>
			    </tr>
			</tbody>
		</table>
		<div th:if="${message}">
	        <h3><span class="text-success" th:utext="${message}"></span></h3>
	    </div>
		
		<div th:if="${taskList.empty}">
			<h1>No Tasks Available</h1>
		</div>
		
		<div th:if="${!taskList.empty}">
			<form th:action="@{/}" th:method="delete">
				<button type="submit" class="btn btn-danger">Delete All</button>
			</form>
		</div>
		<div th:if="${message}">
	        <h3><span class="text-success" th:utext="${message}"></span></h3>
	    </div>
		
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</body>
</html>