<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>To-Do List</title>
    <!-- <div th:replace="fragments/headLinks"></div> -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="stylesheet" href="/custom.css">
    
</head>

<body>
    <div class="container">
    	<!-- <div th:replace="fragments/navbar"></div> -->	
    	
    	<nav class="row navbar navbar-inverse">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/" style="color: #00aced">
		                <i class="fas fa-clipboard-list"></i> To-Do App</a>
		        </div>
		        <div id="navbar">
				    <ul class="nav navbar-nav">
				        <li><a href="/new">New Task</a></li>
				    </ul>
		        </div>
		    </div>
		</nav>
    	
        <h2>To-Do List</h2>
        
        <table class="table table-striped">
			<thead>
		    	<tr>
				    <th scope="col">Category</th>
				    <th scope="col">Description</th>
				    <th scope="col">Status</th>
			    </tr>
			</thead>  
		  	<tbody th:each="task:${taskList}">
			    <tr>
				    <th scope="row" th:text="${task.category}"></th>
				    <td th:text="${task.description}"></td>
				    <td th:text="${task.status}"></td>
			    </tr>
			</tbody>
		</table>
  
    </div>
    <!-- <div th:replace="fragments/scripts"></div> -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/custom.js"></script>
    
</body>
</html>